<html>
<body>

        <img src="/images/h1.jpg" alt="horse1">

    <%  { %>
        <h3>Here are the details of <%= horse[0].name %></h3><hr>
        <h3>Breed of <%= horse[0].name %> is <%= horse[0].breed %></h3><hr>
        <h3><%= horse[0].name %>'s height is <%= horse[1].height %></h3> <hr>
        <h3><%= horse[0].name %>'s speed is 65mph <%= horse[2].speed %></h3>

        <hr>
        <% } %>
</body>
</html>